<main id="tasks" class="container-fluid">
  <nav class="navbar justify-content-center">
    <h1 class="navbar-brand">Tarefas</h1>
  </nav>
  <div class="add__container row my-5">
    <app-task-form></app-task-form>
  </div>
  <div class="tasks__container row gx-4">
    <div class="task__box col-lg-6" *ngFor="let task of tasks">
      <div class="card my-3 p-2 row">
        <app-edit-task-form [task]="task"></app-edit-task-form>
        <div class="task__box__delete">
          <button
            class="btn btn-outline-danger my-2"
            (click)="deleteTask(task.id!)"
          >
            Excluir Tarefa
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
