<button (click)="addTask()" class="btn btn-success" *ngIf="!loadTask">
  Criar Tarefa
</button>
<div
  class="add__container__form container-fluid justify-content-center d-flex"
  *ngIf="loadTask"
>
  <form [formGroup]="taskForm" class="row g-5" (ngSubmit)="getNewTask()">
    <div class="form-floating m-2 col-12 p-0">
      <input
        class="form-control"
        id="titleTask"
        type="text"
        formControlName="taskTitle"
        placeholder="Título"
      />
      <label for="titleTask">Título</label>
    </div>

    <div class="form-floating m-2 col-12 p-0">
      <input
        class="form-control"
        id="descritionTask"
        type="text"
        formControlName="taskDescription"
        placeholder="Descrição"
      />
      <label for="descritionTask">Descrição</label>
    </div>

    <button
      class="btn btn-primary m-2 col"
      type="submit"
      [disabled]="!taskForm.valid"
    >
      Criar
    </button>
    <button class="btn btn-danger m-2 col" type="button" (click)="addTask()">
      Cancelar
    </button>
  </form>
</div>
